In [2]:
import pandas as pd
import numpy as np
from datetime import timedelta, datetime

In [48]:

holiday_dates = [datetime(2023, 1, 1), datetime(2023, 1, 26)]
end_date = datetime(2023, 8, 28)
start_date = end_date - timedelta(days=730)
date_range = pd.date_range(start=start_date, end=end_date, freq='D')
work_df = pd.DataFrame({'snapshot_datetime': date_range})
def is_workday(date):
    if date.weekday() >= 5 or date in holiday_dates:
        return 0
    return 1
work_df['workday'] = work_df['snapshot_datetime'].apply(is_workday)

print(work_df)

          date  workday
0   2021-08-28        0
1   2021-08-29        0
2   2021-08-30        1
3   2021-08-31        1
4   2021-09-01        1
..         ...      ...
726 2023-08-24        1
727 2023-08-25        1
728 2023-08-26        0
729 2023-08-27        0
730 2023-08-28        1

[731 rows x 2 columns]

In [49]:
holiday_dates = [datetime(2023, 1, 1), datetime(2023, 1, 26)]
end_date = datetime(2023, 8, 28)
start_date = end_date - timedelta(days=730)
date_range = pd.date_range(start=start_date, end=end_date, freq='D')
wk_df = pd.DataFrame({'snapshot_datetime': date_range})
def is_workday(date):
    if date.weekday() >= 5 or date in holiday_dates:
        return False
    return True
wk_df['work_day'] = wk_df['snapshot_datetime'].apply(is_workday)
wk_df.to_csv('../../../data/obfuscated/SnowPatrol_Working_Days.csv', index=False)

In [299]:
work_df.to_csv('../../../data/generated/sample_work_days.csv', index=False)

In [300]:
df = pd.read_csv('../../../data/obfuscated/udemy.csv')

In [301]:
df['Date of Last Activity'].fillna(df['Date Joined'], inplace=True)

In [302]:
df

,User Email,User Groups,User Role,User Is Deactivated,Date Joined,Date of Last Activity,No. of Days Active,Minutes Video Consumed
0,samir.bhatt@anblicks.com,Modern Apps,owner,No,10/25/2021,6/9/2023,4,538.75
1,jaydeep.panchal@anblicks.com,Modern Apps,student,No,10/25/2021,8/27/2023,51,2562.00
2,pathik.vora@anblicks.com,"A1-June 22, Modern Apps",student,No,10/25/2021,8/25/2023,35,650.00
3,munwar@anblicks.com,"CloudOps, Data Analytics, Modern Apps",admin,No,10/25/2021,8/7/2023,4,1.50
4,abishek.kunduru@anblicks.com,Data Analytics,admin,No,10/25/2021,8/18/2023,1,0.25
...,...,...,...,...,...,...,...,...
478,sreedhar.yerragunta@anblicks.com,NaN,student,No,8/19/2023,8/19/2023,0,0.00
479,smriti.das@anblicks.com,NaN,student,No,8/21/2023,8/21/2023,0,0.00
480,anushree.mahajan@anblicks.com,NaN,student,No,8/23/2023,8/24/2023,2,58.50
481,vinay.chitrakathi@anblicks.com,NaN,student,No,8/24/2023,8/25/2023,2,34.00
482,dharmik.solanki@anblicks.com,NaN,student,No,8/24/2023,8/26/2023,2,33.75

In [303]:
num_rows = len(df)

l= [1] * num_rows

In [304]:
df['app_id']=l

In [305]:
selected_columns = ['app_id','User Email', 'Date of Last Activity']

In [306]:
df1=df[selected_columns]

In [307]:
df1.rename(columns={
    'app_id': 'app_id',
    'User Email': 'session_user',
    'Date of Last Activity': 'snapshot_datetime'
}, inplace=True)

C:\Users\Harika.pedapudi\AppData\Local\Temp\ipykernel_12508\3316868840.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={

In [308]:
df2 = pd.read_csv('../../../data/generated/sample_employee_metadata.csv')
df2

,session_user,department,division,title,last_day_of_work
0,harika.pedapudi@anblicks.com,delivery,Hackathon,jr data engineer,2040-07-04
1,navya.chalapati@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
2,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04
3,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04
4,ayeshashaik@anblicks.com,operations,project,contractor,2040-07-04
...,...,...,...,...,...
483,sreedhar.yerragunta@anblicks.com,delivery,project,data engineer,2040-07-04
484,smriti.das@anblicks.com,delivery,project,UI/UX Designer,2040-07-04
485,anushree.mahajan@anblicks.com,delivery,project,lead data engineer,2040-07-04
486,vinay.chitrakathi@anblicks.com,delivery,hackathon,associate sr data scientist,2040-07-04
487,dharmik.solanki@anblicks.com,operations,hackathon,associate executive,2040-07-04

In [309]:
default_values = {'department':'general','division':'project','title':'general'}  # Replace with your desired default values
df2.fillna(default_values, inplace=True)
df2

,session_user,department,division,title,last_day_of_work
0,harika.pedapudi@anblicks.com,delivery,Hackathon,jr data engineer,2040-07-04
1,navya.chalapati@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
2,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04
3,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04
4,ayeshashaik@anblicks.com,operations,project,contractor,2040-07-04
...,...,...,...,...,...
483,sreedhar.yerragunta@anblicks.com,delivery,project,data engineer,2040-07-04
484,smriti.das@anblicks.com,delivery,project,UI/UX Designer,2040-07-04
485,anushree.mahajan@anblicks.com,delivery,project,lead data engineer,2040-07-04
486,vinay.chitrakathi@anblicks.com,delivery,hackathon,associate sr data scientist,2040-07-04
487,dharmik.solanki@anblicks.com,operations,hackathon,associate executive,2040-07-04

In [310]:
default_date = pd.to_datetime('2040-07-04')
df2['last_day_of_work'].fillna(default_date, inplace=True)

In [311]:
unmatched_users = df1[~df1['session_user'].isin(df2['session_user'])]['session_user'].tolist()

# Remove rows from df1 for unmatched session_user values
df1 = df1[~df1['session_user'].isin(unmatched_users)]

In [312]:
len(df1)

482

In [313]:
df1

     app_id                      session_user snapshot_datetime
0         1          samir.bhatt@anblicks.com          6/9/2023
1         1      jaydeep.panchal@anblicks.com         8/27/2023
2         1          pathik.vora@anblicks.com         8/25/2023
3         1               munwar@anblicks.com          8/7/2023
4         1      abishek.kunduru@anblicks.com         8/18/2023
..      ...                               ...               ...
478       1  sreedhar.yerragunta@anblicks.com         8/19/2023
479       1           smriti.das@anblicks.com         8/21/2023
480       1     anushree.mahajan@anblicks.com         8/24/2023
481       1    vinay.chitrakathi@anblicks.com         8/25/2023
482       1      dharmik.solanki@anblicks.com         8/26/2023

[482 rows x 3 columns]

In [314]:
len(df1)

482

In [315]:
df1.to_csv('../../../data/generated/sample_okta_logs.csv', index=False)
df1.to_csv('../../../data/obfuscated/SnowPatrol_validation_data_app1 _.csv', index=False)

In [316]:

df4=df1[['app_id','session_user']]
unmatched_users = df2[~df2['session_user'].isin(df4['session_user'])]['session_user'].tolist()

# Remove rows from df1 for unmatched session_user values
df4 = df2[~df2['session_user'].isin(unmatched_users)]
num_rows = len(df4)

l= [1] * num_rows
df4['app_id']=l
df4

C:\Users\Harika.pedapudi\AppData\Local\Temp\ipykernel_12508\657785976.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['app_id']=l

,session_user,department,division,title,last_day_of_work,app_id
0,harika.pedapudi@anblicks.com,delivery,Hackathon,jr data engineer,2040-07-04,1
1,navya.chalapati@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04,1
2,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04,1
3,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04,1
5,krunal.vyas@anblicks.com,sales & marketing,project,sr executive,2040-07-04,1
...,...,...,...,...,...,...
483,sreedhar.yerragunta@anblicks.com,delivery,project,data engineer,2040-07-04,1
484,smriti.das@anblicks.com,delivery,project,UI/UX Designer,2040-07-04,1
485,anushree.mahajan@anblicks.com,delivery,project,lead data engineer,2040-07-04,1
486,vinay.chitrakathi@anblicks.com,delivery,hackathon,associate sr data scientist,2040-07-04,1
487,dharmik.solanki@anblicks.com,operations,hackathon,associate executive,2040-07-04,1

In [317]:
new_column_order = ["app_id"] + [col for col in df4.columns if col != "app_id"]
df_reordered = df4[new_column_order]
df_reordered

,app_id,session_user,department,division,title,last_day_of_work
0,1,harika.pedapudi@anblicks.com,delivery,Hackathon,jr data engineer,2040-07-04
1,1,navya.chalapati@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
2,1,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04
3,1,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04
5,1,krunal.vyas@anblicks.com,sales & marketing,project,sr executive,2040-07-04
...,...,...,...,...,...,...
483,1,sreedhar.yerragunta@anblicks.com,delivery,project,data engineer,2040-07-04
484,1,smriti.das@anblicks.com,delivery,project,UI/UX Designer,2040-07-04
485,1,anushree.mahajan@anblicks.com,delivery,project,lead data engineer,2040-07-04
486,1,vinay.chitrakathi@anblicks.com,delivery,hackathon,associate sr data scientist,2040-07-04
487,1,dharmik.solanki@anblicks.com,operations,hackathon,associate executive,2040-07-04

In [318]:
df_reordered.to_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app1.csv', index=False)

In [319]:
df1 = df1.drop(columns=['app_id'])

In [320]:
df1.to_csv('../../../data/generated/sample_app_logs.csv', index=False)

In [321]:
df1

                         session_user snapshot_datetime
0            samir.bhatt@anblicks.com          6/9/2023
1        jaydeep.panchal@anblicks.com         8/27/2023
2            pathik.vora@anblicks.com         8/25/2023
3                 munwar@anblicks.com          8/7/2023
4        abishek.kunduru@anblicks.com         8/18/2023
..                                ...               ...
478  sreedhar.yerragunta@anblicks.com         8/19/2023
479           smriti.das@anblicks.com         8/21/2023
480     anushree.mahajan@anblicks.com         8/24/2023
481    vinay.chitrakathi@anblicks.com         8/25/2023
482      dharmik.solanki@anblicks.com         8/26/2023

[482 rows x 2 columns]

In [322]:
df3=df1[['session_user','snapshot_datetime']]
df3

                         session_user snapshot_datetime
0            samir.bhatt@anblicks.com          6/9/2023
1        jaydeep.panchal@anblicks.com         8/27/2023
2            pathik.vora@anblicks.com         8/25/2023
3                 munwar@anblicks.com          8/7/2023
4        abishek.kunduru@anblicks.com         8/18/2023
..                                ...               ...
478  sreedhar.yerragunta@anblicks.com         8/19/2023
479           smriti.das@anblicks.com         8/21/2023
480     anushree.mahajan@anblicks.com         8/24/2023
481    vinay.chitrakathi@anblicks.com         8/25/2023
482      dharmik.solanki@anblicks.com         8/26/2023

[482 rows x 2 columns]

In [323]:
df1.to_csv('../../../data/generated/sample_app_logs.csv', index=False)

In [10]:
dev_df=pd.read_csv('../../../data/obfuscated/SnowPatrol_validation_data_app2 _.csv')
dev_df

    app_id                      session_user snapshot_datetime
0        2      abishek.kunduru@anblicks.com         6/12/2023
1        2        bharath.rudra@anblicks.com          2/2/2023
2        2       mounika.koduru@anblicks.com         1/12/2023
3        2     sireesha.alavala@anblicks.com          4/4/2023
4        2     manasa.jonnadula@anblicks.com         4/21/2023
..     ...                               ...               ...
85       2  sandeep.nidumukkala@anblicks.com          4/6/2023
86       2          divya.matsa@anblicks.com         8/11/2023
87       2   praveenkumar.macha@anblicks.com         8/25/2023
88       2     uhapriya.akunuri@anblicks.com          5/4/2023
89       2          kiran.kumar@anblicks.com         5/16/2022

[90 rows x 3 columns]

In [7]:
dev_df = dev_df.drop(columns=['app_id'])
num_rows = len(dev_df)

l= [2] * num_rows
dev_df['app_id']=l
dev_df

                        session_user snapshot_datetime  app_id
0       abishek.kunduru@anblicks.com         6/12/2023       2
1         bharath.rudra@anblicks.com          2/2/2023       2
2        mounika.koduru@anblicks.com         1/12/2023       2
3      sireesha.alavala@anblicks.com          4/4/2023       2
4      manasa.jonnadula@anblicks.com         4/21/2023       2
..                               ...               ...     ...
85  sandeep.nidumukkala@anblicks.com          4/6/2023       2
86          divya.matsa@anblicks.com         8/11/2023       2
87   praveenkumar.macha@anblicks.com         8/25/2023       2
88     uhapriya.akunuri@anblicks.com          5/4/2023       2
89          kiran.kumar@anblicks.com         5/16/2022       2

[90 rows x 3 columns]

In [8]:
new_column_order = ["app_id"] + [col for col in dev_df.columns if col != "app_id"]
dev_df = dev_df[new_column_order]
dev_df

    app_id                      session_user snapshot_datetime
0        2      abishek.kunduru@anblicks.com         6/12/2023
1        2        bharath.rudra@anblicks.com          2/2/2023
2        2       mounika.koduru@anblicks.com         1/12/2023
3        2     sireesha.alavala@anblicks.com          4/4/2023
4        2     manasa.jonnadula@anblicks.com         4/21/2023
..     ...                               ...               ...
85       2  sandeep.nidumukkala@anblicks.com          4/6/2023
86       2          divya.matsa@anblicks.com         8/11/2023
87       2   praveenkumar.macha@anblicks.com         8/25/2023
88       2     uhapriya.akunuri@anblicks.com          5/4/2023
89       2          kiran.kumar@anblicks.com         5/16/2022

[90 rows x 3 columns]

In [9]:
dev_df.to_csv('../../../data/obfuscated/SnowPatrol_validation_data_app2 _.csv', index=False)

In [15]:
add_dev=pd.read_csv('../../../data/generated/sample_okta_logs.csv')
add_dev

     app_id                      session_user snapshot_datetime
0         1          samir.bhatt@anblicks.com          6/9/2023
1         1      jaydeep.panchal@anblicks.com         8/27/2023
2         1          pathik.vora@anblicks.com         8/25/2023
3         1               munwar@anblicks.com          8/7/2023
4         1      abishek.kunduru@anblicks.com         8/18/2023
..      ...                               ...               ...
477       1  sreedhar.yerragunta@anblicks.com         8/19/2023
478       1           smriti.das@anblicks.com         8/21/2023
479       1     anushree.mahajan@anblicks.com         8/24/2023
480       1    vinay.chitrakathi@anblicks.com         8/25/2023
481       1      dharmik.solanki@anblicks.com         8/26/2023

[482 rows x 3 columns]

In [16]:
result = pd.concat([add_dev,dev_df], ignore_index=True)

In [17]:
result

     app_id                      session_user snapshot_datetime
0         1          samir.bhatt@anblicks.com          6/9/2023
1         1      jaydeep.panchal@anblicks.com         8/27/2023
2         1          pathik.vora@anblicks.com         8/25/2023
3         1               munwar@anblicks.com          8/7/2023
4         1      abishek.kunduru@anblicks.com         8/18/2023
..      ...                               ...               ...
567       2  sandeep.nidumukkala@anblicks.com          4/6/2023
568       2          divya.matsa@anblicks.com         8/11/2023
569       2   praveenkumar.macha@anblicks.com         8/25/2023
570       2     uhapriya.akunuri@anblicks.com          5/4/2023
571       2          kiran.kumar@anblicks.com         5/16/2022

[572 rows x 3 columns]

In [18]:
result.to_csv('../../../data/generated/sample_okta_logs.csv', index=False)

In [30]:
val2=pd.read_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app2.csv')
val2

,app_id,session_user,department,division,title,last_day_of_work
0,1,abishek.kunduru@anblicks.com,delivery,Hackathon,jr data engineer,2040-07-04
1,1,bharath.rudra@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
2,1,mounika.koduru@anblicks.com,line of business,project,chief operation officer,2040-07-04
3,1,sireesha.alavala@anblicks.com,operations,project,manager,2040-07-04
4,1,manasa.jonnadula@anblicks.com,operations,project,contractor,2040-07-04
...,...,...,...,...,...,...
85,1,sandeep.nidumukkala@anblicks.com,delivery,project,associate software engineer,2040-07-04
86,1,divya.matsa@anblicks.com,delivery,hackathon,associate sr quality analyst,2040-07-04
87,1,praveenkumar.macha@anblicks.com,delivery,project,software engineer,2040-07-04
88,1,uhapriya.akunuri@anblicks.com,delivery,project,lead data engineer,2040-07-04
89,1,kiran.kumar@anblicks.com,delivery,hackathon,director-delivery,2040-07-04

In [31]:
df2 = pd.read_csv('../../../data/generated/sample_employee_metadata.csv')
df2

,session_user,department,division,title,last_day_of_work
0,harika.pedapudi@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
1,navya.chalapati@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
2,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04
3,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04
4,ayeshashaik@anblicks.com,operations,project,contractor,2040-07-04
...,...,...,...,...,...
489,John.Hargett@datalinksoftware.com,NaN,NaN,NaN,NaN
490,Logan.Galler@datalinksoftware.com,NaN,NaN,NaN,NaN
491,Kenneth.Harper@datalinksoftware.com,NaN,NaN,NaN,NaN
492,chintan.mehta@anblicks.com,NaN,NaN,NaN,NaN
493,it@anblicks.com,NaN,NaN,NaN,NaN

In [43]:
res = pd.merge(df2, val2[['session_user']], on='session_user', how='inner')

In [44]:
res

,session_user,department,division,title,last_day_of_work
0,dhamodharan.balamani@anblicks.com,innovations,project,Data engineer architect,2040-07-04
1,nishant.shah@anblicks.com,delivery,project,lead software engineer,2040-07-04
2,devang.patel@anblicks.com,delivery,project,sr data engineer,2040-07-04
3,manoj.kumar@anblicks.com,delivery,project,sr data engineer,2040-07-04
4,gowtham.voruganti@anblicks.com,delivery,project,managing director,2040-07-04
...,...,...,...,...,...
85,John.Hargett@datalinksoftware.com,NaN,NaN,NaN,NaN
86,Logan.Galler@datalinksoftware.com,NaN,NaN,NaN,NaN
87,Kenneth.Harper@datalinksoftware.com,NaN,NaN,NaN,NaN
88,chintan.mehta@anblicks.com,NaN,NaN,NaN,NaN
89,it@anblicks.com,NaN,NaN,NaN,NaN

In [45]:
default_values = {'department':'general','division':'project','title':'general'}  # Replace with your desired default values
res.fillna(default_values, inplace=True)
default_date = pd.to_datetime('2040-07-04').date()
res['last_day_of_work'].fillna(default_date, inplace=True)
res

,session_user,department,division,title,last_day_of_work
0,dhamodharan.balamani@anblicks.com,innovations,project,Data engineer architect,2040-07-04
1,nishant.shah@anblicks.com,delivery,project,lead software engineer,2040-07-04
2,devang.patel@anblicks.com,delivery,project,sr data engineer,2040-07-04
3,manoj.kumar@anblicks.com,delivery,project,sr data engineer,2040-07-04
4,gowtham.voruganti@anblicks.com,delivery,project,managing director,2040-07-04
...,...,...,...,...,...
85,John.Hargett@datalinksoftware.com,general,project,general,2040-07-04
86,Logan.Galler@datalinksoftware.com,general,project,general,2040-07-04
87,Kenneth.Harper@datalinksoftware.com,general,project,general,2040-07-04
88,chintan.mehta@anblicks.com,general,project,general,2040-07-04
89,it@anblicks.com,general,project,general,2040-07-04

In [46]:
num_rows = len(res)

l= [2] * num_rows
res['app_id']=l

new_column_order = ["app_id"] + [col for col in res.columns if col != "app_id"]
res = res[new_column_order]
res

,app_id,session_user,department,division,title,last_day_of_work
0,2,dhamodharan.balamani@anblicks.com,innovations,project,Data engineer architect,2040-07-04
1,2,nishant.shah@anblicks.com,delivery,project,lead software engineer,2040-07-04
2,2,devang.patel@anblicks.com,delivery,project,sr data engineer,2040-07-04
3,2,manoj.kumar@anblicks.com,delivery,project,sr data engineer,2040-07-04
4,2,gowtham.voruganti@anblicks.com,delivery,project,managing director,2040-07-04
...,...,...,...,...,...,...
85,2,John.Hargett@datalinksoftware.com,general,project,general,2040-07-04
86,2,Logan.Galler@datalinksoftware.com,general,project,general,2040-07-04
87,2,Kenneth.Harper@datalinksoftware.com,general,project,general,2040-07-04
88,2,chintan.mehta@anblicks.com,general,project,general,2040-07-04
89,2,it@anblicks.com,general,project,general,2040-07-04

In [47]:
res.to_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app2.csv', index=False)

In [ ]:
app1=pd.read_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app1.csv')
result = pd.concat([app1,res], ignore_index=True)
result

In [ ]:
result.to_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app1.csv', index=False)

In [55]:
dev_df=pd.read_csv('../../../data/obfuscated/SnowPatrol_validation_data_app3 _.csv')
dev_df

    app_id                     session_user     snapshot_datetime
0        1        aayushi.soni@anblicks.com  2023-07-24 13:38:05Z
1        1          abhilash.p@anblicks.com  2023-08-03 09:58:17Z
2        1    abhishek.makhija@anblicks.com  2023-06-22 12:00:38Z
3        1      abhishek.singh@anblicks.com  2023-07-27 07:18:36Z
4        1     abishek.kunduru@anblicks.com  2023-08-22 05:45:38Z
5        1          amij.patel@anblicks.com  2023-06-22 13:00:35Z
6        1                amit@anblicks.com  2023-08-14 15:41:09Z
7        1    anand.gangapuram@anblicks.com  2023-06-22 13:00:34Z
8        1         ashish.shah@anblicks.com  2023-06-22 13:00:35Z
9        1      bharath.pogula@anblicks.com  2023-06-22 13:00:37Z
10       1           fuad.nour@anblicks.com  2023-06-22 12:00:38Z
11       1     geetanjali.dash@anblicks.com  2023-08-21 13:12:28Z
12       1   gowtham.voruganti@anblicks.com  2023-08-07 17:04:37Z
13       1    hardik.gundigara@anblicks.com  2023-06-22 13:00:35Z
14       1          ip-service@anblicks.com  2023-06-21 11:04:05Z
15       1               kumar@anblicks.com  2023-06-22 12:00:35Z
16       1               madhu@anblicks.com  2023-07-21 23:56:59Z
17       1          miti.patel@anblicks.com  2023-06-22 13:00:37Z
18       1          muddasir.h@anblicks.com  2023-06-22 12:00:38Z
19       1              munwar@anblicks.com  2023-06-22 13:00:41Z
20       1         nilesh.jain@anblicks.com  2023-08-22 11:16:37Z
21       1       pradeep.kollu@anblicks.com  2023-08-18 07:27:07Z
22       1   rajasekharreddy.g@anblicks.com  2023-06-22 13:00:41Z
23       1        ramesh.dande@anblicks.com  2023-07-31 17:49:35Z
24       1         samir.bhatt@anblicks.com  2023-06-22 13:00:35Z
25       1        shani.jangid@anblicks.com  2023-06-22 13:00:35Z
26       1      shruthi.gangam@anblicks.com  2023-06-22 13:00:36Z
27       1          smit.patel@anblicks.com  2023-07-24 07:07:02Z
28       1    srikanth.manduri@anblicks.com  2023-07-06 06:39:49Z
29       1         sudharani.b@anblicks.com  2023-08-22 11:16:37Z
30       1        sumera.jaggi@anblicks.com  2023-08-02 17:20:30Z
31       1  ramateja.damireddy@anblicks.com  2023-08-11 09:54:33Z
32       1    vishvak.tatineni@anblicks.com  2023-08-02 17:20:30Z

In [56]:
dev_df = dev_df.drop(columns=['app_id'])
num_rows = len(dev_df)

l= [3] * num_rows
dev_df['app_id']=l
dev_df

                       session_user     snapshot_datetime  app_id
0         aayushi.soni@anblicks.com  2023-07-24 13:38:05Z       3
1           abhilash.p@anblicks.com  2023-08-03 09:58:17Z       3
2     abhishek.makhija@anblicks.com  2023-06-22 12:00:38Z       3
3       abhishek.singh@anblicks.com  2023-07-27 07:18:36Z       3
4      abishek.kunduru@anblicks.com  2023-08-22 05:45:38Z       3
5           amij.patel@anblicks.com  2023-06-22 13:00:35Z       3
6                 amit@anblicks.com  2023-08-14 15:41:09Z       3
7     anand.gangapuram@anblicks.com  2023-06-22 13:00:34Z       3
8          ashish.shah@anblicks.com  2023-06-22 13:00:35Z       3
9       bharath.pogula@anblicks.com  2023-06-22 13:00:37Z       3
10           fuad.nour@anblicks.com  2023-06-22 12:00:38Z       3
11     geetanjali.dash@anblicks.com  2023-08-21 13:12:28Z       3
12   gowtham.voruganti@anblicks.com  2023-08-07 17:04:37Z       3
13    hardik.gundigara@anblicks.com  2023-06-22 13:00:35Z       3
14          ip-service@anblicks.com  2023-06-21 11:04:05Z       3
15               kumar@anblicks.com  2023-06-22 12:00:35Z       3
16               madhu@anblicks.com  2023-07-21 23:56:59Z       3
17          miti.patel@anblicks.com  2023-06-22 13:00:37Z       3
18          muddasir.h@anblicks.com  2023-06-22 12:00:38Z       3
19              munwar@anblicks.com  2023-06-22 13:00:41Z       3
20         nilesh.jain@anblicks.com  2023-08-22 11:16:37Z       3
21       pradeep.kollu@anblicks.com  2023-08-18 07:27:07Z       3
22   rajasekharreddy.g@anblicks.com  2023-06-22 13:00:41Z       3
23        ramesh.dande@anblicks.com  2023-07-31 17:49:35Z       3
24         samir.bhatt@anblicks.com  2023-06-22 13:00:35Z       3
25        shani.jangid@anblicks.com  2023-06-22 13:00:35Z       3
26      shruthi.gangam@anblicks.com  2023-06-22 13:00:36Z       3
27          smit.patel@anblicks.com  2023-07-24 07:07:02Z       3
28    srikanth.manduri@anblicks.com  2023-07-06 06:39:49Z       3
29         sudharani.b@anblicks.com  2023-08-22 11:16:37Z       3
30        sumera.jaggi@anblicks.com  2023-08-02 17:20:30Z       3
31  ramateja.damireddy@anblicks.com  2023-08-11 09:54:33Z       3
32    vishvak.tatineni@anblicks.com  2023-08-02 17:20:30Z       3

In [57]:
new_column_order = ["app_id"] + [col for col in dev_df.columns if col != "app_id"]
dev_df = dev_df[new_column_order]
dev_df

    app_id                     session_user     snapshot_datetime
0        3        aayushi.soni@anblicks.com  2023-07-24 13:38:05Z
1        3          abhilash.p@anblicks.com  2023-08-03 09:58:17Z
2        3    abhishek.makhija@anblicks.com  2023-06-22 12:00:38Z
3        3      abhishek.singh@anblicks.com  2023-07-27 07:18:36Z
4        3     abishek.kunduru@anblicks.com  2023-08-22 05:45:38Z
5        3          amij.patel@anblicks.com  2023-06-22 13:00:35Z
6        3                amit@anblicks.com  2023-08-14 15:41:09Z
7        3    anand.gangapuram@anblicks.com  2023-06-22 13:00:34Z
8        3         ashish.shah@anblicks.com  2023-06-22 13:00:35Z
9        3      bharath.pogula@anblicks.com  2023-06-22 13:00:37Z
10       3           fuad.nour@anblicks.com  2023-06-22 12:00:38Z
11       3     geetanjali.dash@anblicks.com  2023-08-21 13:12:28Z
12       3   gowtham.voruganti@anblicks.com  2023-08-07 17:04:37Z
13       3    hardik.gundigara@anblicks.com  2023-06-22 13:00:35Z
14       3          ip-service@anblicks.com  2023-06-21 11:04:05Z
15       3               kumar@anblicks.com  2023-06-22 12:00:35Z
16       3               madhu@anblicks.com  2023-07-21 23:56:59Z
17       3          miti.patel@anblicks.com  2023-06-22 13:00:37Z
18       3          muddasir.h@anblicks.com  2023-06-22 12:00:38Z
19       3              munwar@anblicks.com  2023-06-22 13:00:41Z
20       3         nilesh.jain@anblicks.com  2023-08-22 11:16:37Z
21       3       pradeep.kollu@anblicks.com  2023-08-18 07:27:07Z
22       3   rajasekharreddy.g@anblicks.com  2023-06-22 13:00:41Z
23       3        ramesh.dande@anblicks.com  2023-07-31 17:49:35Z
24       3         samir.bhatt@anblicks.com  2023-06-22 13:00:35Z
25       3        shani.jangid@anblicks.com  2023-06-22 13:00:35Z
26       3      shruthi.gangam@anblicks.com  2023-06-22 13:00:36Z
27       3          smit.patel@anblicks.com  2023-07-24 07:07:02Z
28       3    srikanth.manduri@anblicks.com  2023-07-06 06:39:49Z
29       3         sudharani.b@anblicks.com  2023-08-22 11:16:37Z
30       3        sumera.jaggi@anblicks.com  2023-08-02 17:20:30Z
31       3  ramateja.damireddy@anblicks.com  2023-08-11 09:54:33Z
32       3    vishvak.tatineni@anblicks.com  2023-08-02 17:20:30Z

In [58]:
dev_df.to_csv('../../../data/obfuscated/SnowPatrol_validation_data_app2 _.csv', index=False)

add_dev=pd.read_csv('../../../data/generated/sample_okta_logs.csv')
add_dev

     app_id                      session_user snapshot_datetime
0         1          samir.bhatt@anblicks.com          6/9/2023
1         1      jaydeep.panchal@anblicks.com         8/27/2023
2         1          pathik.vora@anblicks.com         8/25/2023
3         1               munwar@anblicks.com          8/7/2023
4         1      abishek.kunduru@anblicks.com         8/18/2023
..      ...                               ...               ...
567       2  sandeep.nidumukkala@anblicks.com          4/6/2023
568       2          divya.matsa@anblicks.com         8/11/2023
569       2   praveenkumar.macha@anblicks.com         8/25/2023
570       2     uhapriya.akunuri@anblicks.com          5/4/2023
571       2          kiran.kumar@anblicks.com         5/16/2022

[572 rows x 3 columns]

In [59]:
result = pd.concat([add_dev,dev_df], ignore_index=True)
result

     app_id                     session_user     snapshot_datetime
0         1         samir.bhatt@anblicks.com              6/9/2023
1         1     jaydeep.panchal@anblicks.com             8/27/2023
2         1         pathik.vora@anblicks.com             8/25/2023
3         1              munwar@anblicks.com              8/7/2023
4         1     abishek.kunduru@anblicks.com             8/18/2023
..      ...                              ...                   ...
600       3    srikanth.manduri@anblicks.com  2023-07-06 06:39:49Z
601       3         sudharani.b@anblicks.com  2023-08-22 11:16:37Z
602       3        sumera.jaggi@anblicks.com  2023-08-02 17:20:30Z
603       3  ramateja.damireddy@anblicks.com  2023-08-11 09:54:33Z
604       3    vishvak.tatineni@anblicks.com  2023-08-02 17:20:30Z

[605 rows x 3 columns]

In [60]:
result.to_csv('../../../data/generated/sample_okta_logs.csv', index=False)

In [62]:
val2=pd.read_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app3.csv')
val2

,app_id,session_user,department,division,title,last_day_of_work
0,1,aayushi.soni@anblicks.com,HR,powerbi,HR - Manager,2024-07-24 13:38:05Z
1,1,abhilash.p@anblicks.com,Delivery,powerbi,Lead Data Engineer,2024-08-03 09:58:17Z
2,1,abhishek.makhija@anblicks.com,Delivery,powerbi,Data Engineering Architect,2024-06-22 12:00:38Z
3,1,abhishek.singh@anblicks.com,RMG,powerbi,Vice President - RMG,2024-07-27 07:18:36Z
4,1,abishek.kunduru@anblicks.com,Delivery,powerbi,Managing Director-Delivery,2024-08-22 05:45:38Z
5,1,amij.patel@anblicks.com,Line of Business,powerbi,Chief Operating Officer,2024-06-22 13:00:35Z
6,1,amit@anblicks.com,Sales & Marketing,powerbi,Head (Sales),2024-08-14 15:41:09Z
7,1,anand.gangapuram@anblicks.com,Delivery,powerbi,Lead Data Engineer,2024-06-22 13:00:34Z
8,1,ashish.shah@anblicks.com,Delivery,powerbi,Chief Delivery Officer,2024-06-22 13:00:35Z
9,1,bharath.pogula@anblicks.com,Delivery,powerbi,Sr. Data Engineer,2024-06-22 13:00:37Z
10,1,fuad.nour@anblicks.com,Delivery,powerbi,Contractor,2024-06-22 12:00:38Z
11,1,geetanjali.dash@anblicks.com,Delivery,powerbi,Lead Data Engineer,2024-08-21 13:12:28Z
12,1,gowtham.voruganti@anblicks.com,Delivery,powerbi,Managing Director-Delivery,2024-08-07 17:04:37Z
13,1,hardik.gundigara@anblicks.com,Account,powerbi,Sr. Manager,2024-06-22 13:00:35Z
14,1,ip-service@anblicks.com,,powerbi,,2024-06-21 11:04:05Z
15,1,kumar@anblicks.com,Management,powerbi,CEO,2024-06-22 12:00:35Z
16,1,madhu@anblicks.com,Sales & Marketing,powerbi,Vice President Sales,2024-07-21 23:56:59Z
17,1,miti.patel@anblicks.com,Delivery,powerbi,Data Engineer,2024-06-22 13:00:37Z
18,1,muddasir.h@anblicks.com,Delivery,powerbi,Sr. Data Scientist,2024-06-22 12:00:38Z
19,1,munwar@anblicks.com,Innovation,powerbi,CTO,2024-06-22 13:00:41Z
20,1,nilesh.jain@anblicks.com,Delivery,powerbi,Principal UX Designer,2024-08-22 11:16:37Z
21,1,pradeep.kollu@anblicks.com,HR,powerbi,HR - Manager,2024-08-18 07:27:07Z
22,1,rajasekharreddy.g@anblicks.com,Delivery,powerbi,Contractor,2024-06-22 13:00:41Z
23,1,ramesh.dande@anblicks.com,Delivery,powerbi,Senior Data Engineer,2024-07-31 17:49:35Z
24,1,samir.bhatt@anblicks.com,Innovation,powerbi,Vice President - IP & Innovation,2024-06-22 13:00:35Z
25,1,shani.jangid@anblicks.com,Account,powerbi,Contractor,2024-06-22 13:00:35Z
26,1,shruthi.gangam@anblicks.com,Delivery,powerbi,Contractor,2024-06-22 13:00:36Z
27,1,smit.patel@anblicks.com,Delivery,powerbi,Jr. Data Engineer,2024-07-24 07:07:02Z
28,1,srikanth.manduri@anblicks.com,Delivery,powerbi,Principal Data Engineer,2024-07-06 06:39:49Z
29,1,sudharani.b@anblicks.com,,powerbi,,2024-08-22 11:16:37Z
30,1,sumera.jaggi@anblicks.com,Human Resource,powerbi,Director HR,2024-08-02 17:20:30Z
31,1,ramateja.damireddy@anblicks.com,Delivery,powerbi,Associate Data Engineer,2024-08-11 09:54:33Z
32,1,vishvak.tatineni@anblicks.com,Delivery,powerbi,Jr.Data Engineer-Intern,2024-08-02 17:20:30Z

In [67]:
df2 = pd.read_csv('../../../data/generated/sample_employee_metadata.csv')
df2

,session_user,department,division,title,last_day_of_work
0,harika.pedapudi@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
1,navya.chalapati@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
2,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04
3,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04
4,ayeshashaik@anblicks.com,operations,project,contractor,2040-07-04
...,...,...,...,...,...
494,fuad.nour@anblicks.com,delivery,project,contractor,2040-07-04
495,ip-service@anblicks.com,NaN,NaN,NaN,NaN
496,pradeep.kollu@anblicks.com,operations,project,manager,2040-07-04
497,shani.jangid@anblicks.com,operations,project,contractor,2040-07-04
498,sumera.jaggi@anblicks.com,operations,project,director,2040-07-04

In [68]:
merged = pd.merge(val2, df2, on='session_user', how='left', indicator=True)

# Filter for rows with _merge set to 'left_only'
result = merged.loc[merged['_merge'] == 'left_only', 'session_user']

In [69]:
result

Series([], Name: session_user, dtype: object)

In [70]:
res = pd.merge(df2, val2[['session_user']], on='session_user', how='inner')

default_values = {'department':'general','division':'project','title':'general'}  # Replace with your desired default values
res.fillna(default_values, inplace=True)
default_date = pd.to_datetime('2040-07-04').date()
res['last_day_of_work'].fillna(default_date, inplace=True)
res

,session_user,department,division,title,last_day_of_work
0,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04
1,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04
2,madhu@anblicks.com,sales & marketing,project,vice president,2040-07-04
3,abhishek.singh@anblicks.com,operations,project,vice president,2040-07-04
4,amit@anblicks.com,sales & marketing,project,head(sales),2040-07-04
5,gowtham.voruganti@anblicks.com,delivery,project,managing director,2040-07-04
6,samir.bhatt@anblicks.com,innovations,project,Vice president,2040-07-04
7,munwar@anblicks.com,innovations,project,chief technology officer,2040-07-04
8,abishek.kunduru@anblicks.com,delivery,project,managing director delivery,2040-07-04
9,geetanjali.dash@anblicks.com,delivery,project,lead data engineer,2040-07-04
10,abhilash.p@anblicks.com,delivery,project,lead data engineer,2040-07-04
11,nilesh.jain@anblicks.com,delivery,project,principal UX Designer,2040-07-04
12,abhishek.makhija@anblicks.com,delivery,project,data engineer,2040-07-04
13,kumar@anblicks.com,management,project,chief executive officer,2040-07-04
14,bharath.pogula@anblicks.com,delivery,hackathon,sr data engineer,2040-07-04
15,ashish.shah@anblicks.com,delivery,project,chief delivery officer,2040-07-04
16,muddasir.h@anblicks.com,delivery,hackathon,sr data scientist,2040-07-04
17,miti.patel@anblicks.com,delivery,hackathon,data engineer,2040-07-04
18,rajasekharreddy.g@anblicks.com,general,project,general,2040-07-04
19,hardik.gundigara@anblicks.com,operations,hackathon,sr manager,2040-07-04
20,shruthi.gangam@anblicks.com,delivery,project,contractor,2040-07-04
21,sudharani.b@anblicks.com,delivery,project,sr data engineer,2040-07-04
22,smit.patel@anblicks.com,delivery,project,jr data engineer,2040-07-04
23,srikanth.manduri@anblicks.com,delivery,project,principal data engineer,2040-07-04
24,anand.gangapuram@anblicks.com,delivery,hackathon,lead data engineer,2040-07-04
25,ramateja.damireddy@anblicks.com,delivery,project,associate data engineer,2040-07-04
26,vishvak.tatineni@anblicks.com,delivery,project,intern,2040-07-04
27,ramesh.dande@anblicks.com,delivery,project,sr data engineer,2040-07-04
28,fuad.nour@anblicks.com,delivery,project,contractor,2040-07-04
29,ip-service@anblicks.com,general,project,general,2040-07-04
30,pradeep.kollu@anblicks.com,operations,project,manager,2040-07-04
31,shani.jangid@anblicks.com,operations,project,contractor,2040-07-04
32,sumera.jaggi@anblicks.com,operations,project,director,2040-07-04

In [71]:
num_rows = len(res)

l= [3] * num_rows
res['app_id']=l

In [72]:
new_column_order = ["app_id"] + [col for col in res.columns if col != "app_id"]
res = res[new_column_order]
res

,app_id,session_user,department,division,title,last_day_of_work
0,3,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04
1,3,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04
2,3,madhu@anblicks.com,sales & marketing,project,vice president,2040-07-04
3,3,abhishek.singh@anblicks.com,operations,project,vice president,2040-07-04
4,3,amit@anblicks.com,sales & marketing,project,head(sales),2040-07-04
5,3,gowtham.voruganti@anblicks.com,delivery,project,managing director,2040-07-04
6,3,samir.bhatt@anblicks.com,innovations,project,Vice president,2040-07-04
7,3,munwar@anblicks.com,innovations,project,chief technology officer,2040-07-04
8,3,abishek.kunduru@anblicks.com,delivery,project,managing director delivery,2040-07-04
9,3,geetanjali.dash@anblicks.com,delivery,project,lead data engineer,2040-07-04
10,3,abhilash.p@anblicks.com,delivery,project,lead data engineer,2040-07-04
11,3,nilesh.jain@anblicks.com,delivery,project,principal UX Designer,2040-07-04
12,3,abhishek.makhija@anblicks.com,delivery,project,data engineer,2040-07-04
13,3,kumar@anblicks.com,management,project,chief executive officer,2040-07-04
14,3,bharath.pogula@anblicks.com,delivery,hackathon,sr data engineer,2040-07-04
15,3,ashish.shah@anblicks.com,delivery,project,chief delivery officer,2040-07-04
16,3,muddasir.h@anblicks.com,delivery,hackathon,sr data scientist,2040-07-04
17,3,miti.patel@anblicks.com,delivery,hackathon,data engineer,2040-07-04
18,3,rajasekharreddy.g@anblicks.com,general,project,general,2040-07-04
19,3,hardik.gundigara@anblicks.com,operations,hackathon,sr manager,2040-07-04
20,3,shruthi.gangam@anblicks.com,delivery,project,contractor,2040-07-04
21,3,sudharani.b@anblicks.com,delivery,project,sr data engineer,2040-07-04
22,3,smit.patel@anblicks.com,delivery,project,jr data engineer,2040-07-04
23,3,srikanth.manduri@anblicks.com,delivery,project,principal data engineer,2040-07-04
24,3,anand.gangapuram@anblicks.com,delivery,hackathon,lead data engineer,2040-07-04
25,3,ramateja.damireddy@anblicks.com,delivery,project,associate data engineer,2040-07-04
26,3,vishvak.tatineni@anblicks.com,delivery,project,intern,2040-07-04
27,3,ramesh.dande@anblicks.com,delivery,project,sr data engineer,2040-07-04
28,3,fuad.nour@anblicks.com,delivery,project,contractor,2040-07-04
29,3,ip-service@anblicks.com,general,project,general,2040-07-04
30,3,pradeep.kollu@anblicks.com,operations,project,manager,2040-07-04
31,3,shani.jangid@anblicks.com,operations,project,contractor,2040-07-04
32,3,sumera.jaggi@anblicks.com,operations,project,director,2040-07-04

In [73]:
res.to_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app3.csv', index=False)

In [74]:
app1=pd.read_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app1.csv')
result = pd.concat([app1,res], ignore_index=True)
result

,app_id,session_user,department,division,title,last_day_of_work
0,1,harika.pedapudi@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
1,1,navya.chalapati@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
2,1,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04
3,1,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04
4,1,krunal.vyas@anblicks.com,sales & marketing,project,sr executive,2040-07-04
...,...,...,...,...,...,...
600,3,fuad.nour@anblicks.com,delivery,project,contractor,2040-07-04
601,3,ip-service@anblicks.com,general,project,general,2040-07-04
602,3,pradeep.kollu@anblicks.com,operations,project,manager,2040-07-04
603,3,shani.jangid@anblicks.com,operations,project,contractor,2040-07-04
604,3,sumera.jaggi@anblicks.com,operations,project,director,2040-07-04

In [75]:

result.to_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app1.csv', index=False)

In [3]:
dev_df=pd.read_csv('../../../data/obfuscated/SnowPatrol_validation_data_app4 _.csv')
dev_df = dev_df.drop(columns=['app_id'])
num_rows = len(dev_df)

In [4]:
l= [4] * num_rows
dev_df['app_id']=l
dev_df

                         session_user     snapshot_datetime  app_id
0        ___@anblicks.onmicrosoft.com  2023-06-21 11:04:07Z       4
1          aakansha.jain@anblicks.com  2023-08-21 05:12:28Z       4
2      aashutosh.makwana@anblicks.com  2023-08-17 10:52:50Z       4
3           aayushi.soni@anblicks.com  2023-07-24 13:38:05Z       4
4             abhilash.p@anblicks.com  2023-08-03 09:58:17Z       4
..                                ...                   ...     ...
664      yaswanth.yerasi@anblicks.com  2023-07-20 13:51:16Z       4
665  yeshmitha.karangula@anblicks.com  2023-08-14 06:11:17Z       4
666     yeshwanth.saikam@anblicks.com  2023-07-18 08:12:30Z       4
667      yogesh.kumbhare@anblicks.com  2023-06-22 13:00:39Z       4
668                 zoom@anblicks.com  2023-06-21 11:04:06Z       4

[669 rows x 3 columns]

In [5]:
new_column_order = ["app_id"] + [col for col in dev_df.columns if col != "app_id"]
dev_df = dev_df[new_column_order]
dev_df

     app_id                      session_user     snapshot_datetime
0         4      ___@anblicks.onmicrosoft.com  2023-06-21 11:04:07Z
1         4        aakansha.jain@anblicks.com  2023-08-21 05:12:28Z
2         4    aashutosh.makwana@anblicks.com  2023-08-17 10:52:50Z
3         4         aayushi.soni@anblicks.com  2023-07-24 13:38:05Z
4         4           abhilash.p@anblicks.com  2023-08-03 09:58:17Z
..      ...                               ...                   ...
664       4      yaswanth.yerasi@anblicks.com  2023-07-20 13:51:16Z
665       4  yeshmitha.karangula@anblicks.com  2023-08-14 06:11:17Z
666       4     yeshwanth.saikam@anblicks.com  2023-07-18 08:12:30Z
667       4      yogesh.kumbhare@anblicks.com  2023-06-22 13:00:39Z
668       4                 zoom@anblicks.com  2023-06-21 11:04:06Z

[669 rows x 3 columns]

In [6]:
dev_df.to_csv('../../../data/obfuscated/SnowPatrol_validation_data_app4 _.csv', index=False)

In [7]:
add_dev=pd.read_csv('../../../data/generated/sample_okta_logs.csv')
add_dev

     app_id                     session_user     snapshot_datetime
0         1         samir.bhatt@anblicks.com              6/9/2023
1         1     jaydeep.panchal@anblicks.com             8/27/2023
2         1         pathik.vora@anblicks.com             8/25/2023
3         1              munwar@anblicks.com              8/7/2023
4         1     abishek.kunduru@anblicks.com             8/18/2023
..      ...                              ...                   ...
600       3    srikanth.manduri@anblicks.com  2023-07-06 06:39:49Z
601       3         sudharani.b@anblicks.com  2023-08-22 11:16:37Z
602       3        sumera.jaggi@anblicks.com  2023-08-02 17:20:30Z
603       3  ramateja.damireddy@anblicks.com  2023-08-11 09:54:33Z
604       3    vishvak.tatineni@anblicks.com  2023-08-02 17:20:30Z

[605 rows x 3 columns]

In [8]:
result = pd.concat([add_dev,dev_df], ignore_index=True)

result

      app_id                      session_user     snapshot_datetime
0          1          samir.bhatt@anblicks.com              6/9/2023
1          1      jaydeep.panchal@anblicks.com             8/27/2023
2          1          pathik.vora@anblicks.com             8/25/2023
3          1               munwar@anblicks.com              8/7/2023
4          1      abishek.kunduru@anblicks.com             8/18/2023
...      ...                               ...                   ...
1269       4      yaswanth.yerasi@anblicks.com  2023-07-20 13:51:16Z
1270       4  yeshmitha.karangula@anblicks.com  2023-08-14 06:11:17Z
1271       4     yeshwanth.saikam@anblicks.com  2023-07-18 08:12:30Z
1272       4      yogesh.kumbhare@anblicks.com  2023-06-22 13:00:39Z
1273       4                 zoom@anblicks.com  2023-06-21 11:04:06Z

[1274 rows x 3 columns]

In [9]:
result.to_csv('../../../data/generated/sample_okta_logs.csv', index=False)

In [10]:
val2=pd.read_csv('../../../data/obfuscated/SnowPatrol_validation_emp_details_app4.csv')
val2

,app_id,session_user,department,division,title,last_day_of_work
0,1,___@anblicks.onmicrosoft.com,NaN,NaN,NaN,2023-04-21 06:06:51Z
1,1,aakansha.jain@anblicks.com,India TA,Ahmedabad,Executive,2023-08-21 05:07:43Z
2,1,aashutosh.makwana@anblicks.com,Delivery,Ahmedabad,Associate DevOps Engineer,2023-07-21 10:50:10Z
3,1,aayushi.soni@anblicks.com,HR,Ahmedabad,HR - Manager,2021-12-23 13:01:50Z
4,1,abhilash.p@anblicks.com,Delivery,Hyderabad,Lead Data Engineer,2023-08-03 09:39:34Z
...,...,...,...,...,...,...
664,1,yaswanth.yerasi@anblicks.com,Delivery,Dallas,Software Engineer,2023-07-20 13:34:51Z
665,1,yeshmitha.karangula@anblicks.com,Delivery,Hyderabad,Jr. Data Engineer,2023-08-14 05:46:42Z
666,1,yeshwanth.saikam@anblicks.com,Delivery,Hyderabad,Jr. Data Engineer,2023-06-20 10:28:41Z
667,1,yogesh.kumbhare@anblicks.com,Delivery,Ahmedabad,Associate Quality Analyst,2020-09-28 06:01:36Z
668,1,zoom@anblicks.com,NaN,NaN,NaN,2022-09-13 06:10:50Z

In [11]:
df2 = pd.read_csv('../../../data/generated/sample_employee_metadata.csv')
df2

,session_user,department,division,title,last_day_of_work
0,harika.pedapudi@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
1,navya.chalapati@anblicks.com,delivery,hackathon,jr data engineer,2040-07-04
2,amij.patel@anblicks.com,line of business,project,chief operation officer,2040-07-04
3,aayushi.soni@anblicks.com,operations,project,manager,2040-07-04
4,ayeshashaik@anblicks.com,operations,project,contractor,2040-07-04
...,...,...,...,...,...
494,fuad.nour@anblicks.com,delivery,project,contractor,2040-07-04
495,ip-service@anblicks.com,NaN,NaN,NaN,NaN
496,pradeep.kollu@anblicks.com,operations,project,manager,2040-07-04
497,shani.jangid@anblicks.com,operations,project,contractor,2040-07-04
498,sumera.jaggi@anblicks.com,operations,project,director,2040-07-04

In [12]:
merged = pd.merge(val2, df2, on='session_user', how='left', indicator=True)

# Filter for rows with _merge set to 'left_only'
result = merged.loc[merged['_merge'] == 'left_only', 'session_user']

In [14]:
print(result,end=' ')

0                      ___@anblicks.onmicrosoft.com
1                        aakansha.jain@anblicks.com
6                        abhinav.muvva@anblicks.com
9                    abhishek.vadnagra@anblicks.com
11                         aditya.jain@anblicks.com
                           ...
652                    visweswararao.d@anblicks.com
653                      vjy.reception@anblicks.com
657                         Washington@anblicks.com
659    wordAtLogon__false_@anblicks.onmicrosoft.com
668                               zoom@anblicks.com
Name: session_user, Length: 213, dtype: object